*{
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
* button{
    background-color: rgba(67, 214, 54, 0.66);
    border-radius: 4px;
}
body{
    background-image: url("/imgs/books.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    /*  notessssssssssssss */
    /* background-position: center; */
}
table{
    background-color: rgba(250, 128, 114, 0.925);
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border-radius: 30px;
}

td{
    border: 2px rgb(125 250 114 / 66%) solid;
    padding: 2px;
    width: 10em;
    height: 3em;
    min-width: 5em;
    min-height: 3em;
    font-size: 12px;
    color: blanchedalmond;
}

.book-shop{
color: deepskyblue
}
.msg-modal{
    background-color: salmon;
    color: whitesmoke;
    width: 35em;
    height:1em ;
    position: absolute;
    bottom:-1em;
    right:0;
    transition: 0.3s;
}
.read-modal{
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: rgba(185, 126, 48, 0.664);
    width: 17em;
    height: 20em;
    margin: auto;
    border: 1px solid black;
    border-radius: 3%;
    color: aliceblue;
    
}
img{
    display: inline-block;
    width: 80%;
    height: 200px;
object-fit:fill;
margin-bottom: 0px;

}
.close-read-modal{
    position: absolute;
    left:0;
    top: 0
}